#product{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 5px dodgerblue;
}

#productInfo{
    margin: 30px;
    text-align: center;
}

#name{
    font-size: 25px;
    font-weight: bold;
}

#price{
    font-size: 20px;
    font-weight: bold;
}

#buy, #addCart{
    width: 300px;
    height: 50px;
    margin: 10px;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    padding: 12px;
}

#buy{
    background-color: mediumblue;
}

#addCart{
    background-color: royalblue;
}

#buy:hover, #addCart:hover{
    background-color: darkblue;
    text-decoration: none;
}

.description{
    margin: 15px;
    margin-top: 60px;
    padding: 10px;
    font-size: 15px;
    text-align: left;
    border-top: 1px solid dodgerblue;
    border-bottom: 1px solid dodgerblue;
    border-radius: 15px;
}

#descriptionTitle{
    font-weight: bold;
    font-size: 20px;
}

#description, #seller, #category{
    margin-left: 15px;
}

img{
    border-radius: 25px;
    border-color: dodgerblue;
    border-width: 2px;
    border-style: solid;
    box-shadow: 0 0 5px dodgerblue;
    width: 300px;
    height: 300px;
}

.reviews{
    margin: 15px;
    margin-top: 60px;
    padding: 10px;
    font-size: 15px;
    text-align: left;
    border-top: 1px solid dodgerblue;
    border-bottom: 1px solid dodgerblue;
    border-radius: 15px;
}

#reviewsTitle{
    font-size: 20px;
}

#reviewsTitle, #reviewTitle, #reviewUser, #reviewRating{
    font-weight: bold;
}

.review, #newReview{
    margin: 10px;
    padding: 10px;
    border-top: 1px solid goldenrod;
    border-bottom: 1px solid goldenrod;
    border-radius: 15px;
}

#reviewTitle{
    margin-left: 15px;
}

#reviewDescription{
    margin-left: 30px;
}

#reviewRating, #reviewUser{
    color:goldenrod;
}

#newReview{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 40px;
}

#newReviewHeader{
    font-size: 17px;
    font-weight: bold;
}

#newReviewTitle, #newReviewComment{
    margin: 10px;
    width: 800px;
    border-radius: 10px;
}

#newReviewComment{
    height: 100px;
}

#newRatingLabel{
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
}

#newReviewRating{
    margin: 10px;
    margin-top: 0px;
    width: 200px;
    border-radius: 10px;
}

#newReviewSubmit{
    margin: 10px;
    width: 200px;
    height: 50px;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    border-style: solid;
    border-color: darkgoldenrod;
    padding: 12px;
    background-color: goldenrod;
}

#newReviewSubmit:hover{
    background-color: darkgoldenrod;
}