.addProduct{
    margin-left: 120px;
    color: dodgerblue;
}

#title{
    font-size: 30px;
    margin-top: 5px;
    font-weight: bold;
}

label{
    font-weight: bold;
    font-size: 15px;
}

#name{
    height: 25px;
    font-size: 15px;
}